.app {
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--app-gradient)
}